<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <div class="maxthumb">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.image %}
        <img class="img-fluid" loading="lazy" width="1200" height="675" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
        {% endif %}
      </a>
    </div>
    <div class="card-body d-flex flex-column">
      <h3 class="card-title">
        <a class="text-dark text-decoration-none" href="{{ site.baseurl }}{{ post.url }}"
          >{{ post.title }}</a
        >
      </h3>
      <p class="card-text">
        {{ post.excerpt | strip_html | truncatewords:30 }}
      </p>
      {% assign words = post.content | number_of_words %}
      {% if words < 200 %}{% assign read_time = 1 %}{% else %}{% assign read_time = words | divided_by: 200 %}{% endif %}
      <p class="card-meta mt-auto">
        {{ post.date | date_to_string }} <i class="bi bi-dot" aria-hidden="true"></i> {{ read_time }} min read
      </p>
    </div>
  </div>
</div>
