<div class="share sticky-top sticky-top-offset">
  <p>Share</p>
  <ul>
    <li class="mx-4">
      <a
        target="_blank" rel="noopener noreferrer"
        href="https://x.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
        class="share-link"
      >
        <i class="bi bi-twitter-x"></i>
      </a>
    </li>

    <li class="mx-4">
      <a
        target="_blank" rel="noopener noreferrer"
        href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}"
        class="share-link"
      >
        <i class="bi bi-facebook"></i>
      </a>
    </li>

    <li class="mx-4">
      <a
        target="_blank" rel="noopener noreferrer"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}"
        class="share-link"
      >
        <i class="bi bi-linkedin"></i>
      </a>
    </li>
  </ul>
</div>
