---
# Add a comment to make this file sass-y.
---

/* Goodreads widgets styling */
div[class^="gr_custom_container_"] {
  padding: 0.5rem 0;
}

h2[class^="gr_custom_header_"] {
  border-bottom: 1px solid #aaa;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

h2[class^="gr_custom_header_"] > a {
  color: rgba(0, 0, 0, 0.8);
}

div[class^="gr_custom_each_container_"] {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}

div[class^="gr_custom_book_container_"] {
  overflow: hidden;
  height: 160px;
  float: left;
  margin-right: 4px;
  width: 98px;
}

div[class^="gr_custom_title_"] {
  font-size: 0.9rem;
}

div[class^="gr_custom_author_"] {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

div[class^="gr_custom_rating_"] {
  float: right;
  margin: 0 0 1rem 1rem;

  img {
    filter: hue-rotate(120deg) brightness(150%) contrast(50%);
  }
}

div[class^="gr_custom_review_"] {
  display: none;
}

div[class^="gr_custom_container_"] > br {
  display: none;
}

div[class^="gr_custom_container_"] > center {
  display: none;
}

h5#bookshelf-title {
  margin-top: 0;
}
