// Buy Me A Coffee

.buymeacoffee {
  margin: 50px 0;
  padding: 20px;
  background-color: $bg-muted;

  h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .btn-coffee {
    display: inline-block;
    background-color: $color-coffee;
    color: #fff;
    font-size: 1.4em;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: $color-coffee-hover;
      color: #fff;
      text-decoration: none;
    }
  }
}
