// Pagination

.bottompagination span.navigation {
  display: block;
  font-size: 0.93rem;
  padding: 15px 0 0;
  margin-bottom: 0;
  color: $text-muted;
  border-top: 1px solid $border-medium;

  i {
    display: inline-block;
  }
}

.pointerup {
  text-align: center;
  margin-bottom: $pagination-overlap; // overlap with pagination border
  font-size: 30px;

  i {
    color: $text-disabled;
  }
}

span.navigation {
  display: inline-block;
  font-size: 0.93rem;
  font-weight: 700;
}

.pagination {
  display: block;
}
