// Post and page specific styles

.article-post {
  font-family: Merriweather, serif;
  font-size: 1.1rem;
  line-height: 1.84;
  color: rgba(0, 0, 0, 0.8);

  p,
  blockquote {
    margin: 0 0 1.5rem;
  }

  ol,
  ul {
    margin-bottom: 1.5rem;
  }

  ol ol,
  ul ul {
    list-style: disc;
    margin-bottom: 0;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h1,
  h2,
  h3 {
    margin-top: 3rem;
  }

  h4,
  h5,
  h6 {
    margin-top: 2.5rem;
  }

  img.shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  table:not(.rouge-table) {
    border: 1px solid;

    th,
    td {
      border: 1px solid;
      padding: 0.5rem;
    }
  }
}

// Page content (about, projects, etc.)
.page-content {
  font-size: 1rem;

  p {
    margin-bottom: 1rem;
  }
}

// Author meta
.author-thumb {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  border-radius: 100%;
}

.post-top-meta {
  margin-bottom: 2rem;

  .author-thumb {
    width: 72px;
    height: 72px;
  }

  span {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.55);
    display: inline-block;
  }

  .author-description {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 0.95rem;
  }
}

.post-meta-info {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-meta-sep {
  font-size: 1.2rem;
  line-height: 1;
}

.post-read-time i,
.post-updated i {
  font-size: 0.75rem;
}

span.post-date {
  display: inline-block;
  color: rgba(0, 0, 0, 0.55);
}

.featured-image {
  display: block;
  margin-bottom: 1.5rem;
}
