// Search results

.lunrsearchresult {
  .title {
    color: $color-search-title;
  }

  .url {
    color: $search-url;
  }

  a {
    display: block;
    color: $search-url-hover;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover .title {
      text-decoration: underline;
    }
  }
}
