// Search results

.lunrsearchresult {
  .title {
    color: #d9230f;
  }

  .url {
    color: #767676;
  }

  a {
    display: block;
    color: #707070;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover .title {
      text-decoration: underline;
    }
  }
}
