// Share buttons

.share {
  color: $text-muted;
  fill: $text-muted;
  margin-top: $space-4;

  a {
    color: $text-muted;
    fill: $text-muted;
  }

  p {
    margin-bottom: $space-2;
    font-size: 0.95rem;
  }

  ul {
    padding-left: 0;
    margin-left: 0;

    li {
      display: inline-block;
      margin-bottom: $space-2;
      font-size: 1.4rem;
    }
  }
}

@media (min-width: $bp-lg) {
  .share ul li {
    display: block;
  }
}

@media (min-width: $bp-md) {
  .share {
    margin-top: 0;
  }
}
