// Tags

ul.tags {
  list-style: none;
  padding-left: 0;
  margin: 0 0 3rem;

  li {
    display: inline-block;
    font-size: 0.9rem;

    a {
      background: $subtle-overlay;
      color: $text-secondary;
      border-radius: $radius-sm;
      padding: $space-1 $space-2;

      &:hover {
        background: $border-light;
        text-decoration: none;
      }
    }
  }
}
