---
layout: default
---

{% assign author = site.authors[page.author] %}
{% assign words = content | number_of_words %}
{% if words < 200 %}{% assign read_time = 1 %}{% else %}{% assign read_time = words | divided_by: 200 %}{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | truncatewords: 30 | jsonify }},
  "image": "{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.last_modified_at %}"dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",{% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}",
    "url": "{{ author.web }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ author.display_name }}",
    "url": "{{ site.url }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "wordCount": {{ words }},
  "timeRequired": "PT{{ read_time }}M"
}
</script>

<div class="container">
    <div class="row">

        <div class="col-md-2 ps-0">
            {% include share.html %}
        </div>

        <div class="col-md-9 order-first order-md-0">
            <div class="mainheading">

                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-12 col-md-3 col-lg-2 text-center text-md-start mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-9 col-lg-10 text-center text-md-start">
                        <a class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a>
                        <span class="author-description">{{ author.description }}</span>
                    </div>
                </div>
                {% endif %}

                <h1>{{ page.title }}</h1>

            </div>

            {% if page.image %}
            {% if page.image contains "://" %}{% assign img_base = page.image %}{% else %}{% assign img_base = page.image | prepend: "/" | prepend: site.baseurl %}{% endif %}
            <img class="featured-image img-fluid" loading="lazy" decoding="async" width="1200" height="675" sizes="(min-width: 768px) 66vw, 100vw" srcset="{{ img_base | replace: '.jpg', '-400w.jpg' }} 400w, {{ img_base | replace: '.jpg', '-800w.jpg' }} 800w, {{ img_base }} 1200w" src="{{ img_base }}" alt="{{ page.title }}">
            {% endif %}

            <p class="post-meta-info">
                <span class="post-date"><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
                <span class="post-meta-sep"><i class="bi bi-dot" aria-hidden="true"></i></span>
                <span class="post-read-time"><i class="bi bi-clock" aria-hidden="true"></i> {{ read_time }} min read</span>
                {% if page.last_modified_at %}
                <span class="post-meta-sep"><i class="bi bi-dot" aria-hidden="true"></i></span>
                <span class="post-updated">Updated {{ page.last_modified_at | date: "%b %-d, %Y" }}</span>
                {% endif %}
            </p>

            <div class="article-post">
                {{content}}
            </div>

            <div>
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>{{ category }}</li>
                    {% endfor %}
                </ul>
            </div>

            <section class="buymeacoffee text-center">
              <h2>Enjoyed this article? Support my work!</h2>
              <p>If you found this content helpful, consider buying me a coffee to show your appreciation.</p>
              <a class="btn-coffee" href="https://www.buymeacoffee.com/jkfran" target="_blank" rel="noopener noreferrer">Buy me a coffee</a>
            </section>

            <div class="row d-flex justify-content-between fw-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-end" href="{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            </div>

        </div>

    </div>
</div>
