// Site structure: navigation, footer, content areas

.site-content {
  min-height: 60vh;
  padding-top: 1.5rem;
  margin-top: 80px;
  transition: all 0.4s;
}

.main-content {
  min-height: 300px;
}

.mainheading {
  padding: 1rem 0;
}

section.recent-posts {
  margin-bottom: 0;
}

.section-title {
  h1,
  h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 27px;
  }

  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
  }
}

// Navigation
.mediumnavigation {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  transition: top 0.2s ease-in-out;

  .form-control {
    font-size: 16px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.09);
    min-width: 180px;
  }

  .navbar-brand {
    font-weight: 500;
  }

  .nav-item {
    font-size: 0.9rem;
  }

  .navbar-collapse {
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  .mediumnavigation .navbar-collapse {
    padding-bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

@media (max-width: 991px) {
  .mediumnavigation .navbar-nav {
    padding-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mediumnavigation .nav-link {
    padding: 0.5rem 0;
  }

  .mediumnavigation .form-control {
    min-width: auto;
  }
}

.navbar-brand .sitetitle {
  font-family: Righteous, cursive;
  font-size: 2.5rem;
}

// Footer
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 50px;
  margin-bottom: 62px;
  position: relative;
  background: #fff;
}

@media (max-width: 999px) {
  .footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}
